body {
  background-color: #FFFFFF;
  color: #000000;
  margin: 0;
}

.App {
  color: #000000;
  font-family: Calibri, helvetica, sans-serif;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  color: #000000;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

label {
  color: #000000;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}